.project .tile {
  flex-basis: initial;
  max-width: 1000px;
  width: 100%;
}

.project .project__title {
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.project__tools,
.project__created,
.project__link {
  margin-top: 15px;
}

.project__link .link {
  padding: 10px;
  background: #000;
  border: 1px solid #e6eaea;
  max-width: 100px;
  margin: auto;
  color: #fff;
}

.project__link .link:hover {
  background: #e6eaea;
  border: 1px solid #000;
  color: #000;
  transition: all 0.5s;
}
