.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tile {
  background: #fff;
  flex-basis: calc(30% - 40px);
  margin: 20px;
  max-width: calc(30% - 40px);
  padding: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .tile {
    flex: 100%;
    max-width: initial;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tile {
    flex-basis: calc(44% - 40px);
    max-width: calc(44% - 40px);
  }
}
