.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #fff;
}

.name {
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  margin: 0 10px;
  cursor: pointer;
}

.nav-list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .header {
    padding: 15px;
  }

  .nav__link .text {
    vertical-align: top;
  }
}
